﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}


.form-border{
    border:1px solid #bbb9b9;
    border-radius:5px;
    padding:10px;
}


.form-group > .col-md-4 > p.text-muted {
    margin: 5px 0px;
}

.form-group > .row {
    padding: 0px 15px;
}

.form-group.has-error > label {
    color: #a94442 !important;
}

@media only screen and (min-width : 768px) {
    .form-group > .row {
        padding: 0px 20px;
    }
}

.form-control {
    border-radius: 0px;
}


.panel, .panel > .panel-heading {
    border-radius: 0px;
}

.panel {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    border: 0px;
    margin: 0px 0px 30px 0px;
    
}

.panel:hover {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.panel > .panel-heading {
    border-bottom: 2px solid #DDDDDD;
    padding: 7px 10px;
    font-weight: bold;
    
}

.panel > .panel-body {
    padding: 10px !important;
}

.panel-default > .panel-heading-card {
    border-bottom: 1px solid #DDDDDD;
    padding: 7px 10px;
}

body {
    font-family: "Lato", sans-serif;
    padding: 0px;
    margin-top: 0px !important;
    overflow: auto;
    padding-top: 0px !important;
    background-color: rgb(248,248,248);
}

/*grid heading*/
.fontHeading {
    font-family: Arial, sans-serif;
    font-size: 20px;
}

/*grid text font*/
.fontRows {
    font-family: Arial, sans-serif;
    font-size: 15px;      
}

.table-rows-bgcolor {
    background-color: white;
    overflow: hidden;
}

div.table-color {
    background-color:white;
    overflow:hidden;
}

