﻿@using Microsoft.AspNetCore.Localization

@using Microsoft.Extensions.Localization;
@inject WebUI.Services.CommonLocalizationService localizer

@model WebUI.ViewModel.AttachmentViewModel

<div class="col-md-12">
    <form enctype="multipart/form-data" asp-action="Create">
        <div class="panel panel-default" style="background-color:white; overflow:hidden;">
            <div class="panel-heading">@localizer.Get("UploadFile")</div>

            <div class="panel-body form-horizontal">
                <div class="form-group">
                    <label class="control-label">@localizer.Get("AttachmentName")</label>
                    <div class="custom-file">
                        <input asp-for="FileName" class="custom-file-input" id="customFile" required>
                        <label class="custom-file-label" for="customFile">@localizer.Get("Choosefile")</label>
                    </div>
                </div>
            </div>
        </div>


        <div class="form-group">
            <label class="col-sm-4 text-right">&nbsp;</label>
            <div class="col-sm-6">
                <input type="submit" value=@localizer.Get("Upload") class="btn btn-primary" /><i class="fas fa-plus-circle"></i>
                <a asp-action="Index" class="btn btn-dark"><i class="fas fa-fast-backward"></i>@localizer.Get("BackToList")</a>
            </div>
        </div>

    </form>

</div>


@section scripts{
    <script type="text/javascript">
        alert();
        // following code will appear the name on the input box
        $(".custom-file-input").on("change", function () {
            alert();
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });

    </script>
}







