﻿@inject WebUI.Services.CommonLocalizationService localizer

@model IEnumerable<Attachment>

<hr />
<div class="col-xs-6 no-padding ">
    <a asp-action="Create" class="btn btn-primary"><i class="fas fa-plus-circle"></i>@localizer.Get("UploadAttachments")</a>
</div>

<br />

<div class="panel panel-default" style="background-color:white; overflow:hidden;">
    <div class="panel-body">
        <table class="table table-hover">
            <thead>
                <tr class="fontHeading">
                    <th class="text-center">
                        @localizer.Get("AttachmentName")
                    </th>
                    <th class="text-center">
                        @localizer.Get("Path")
                    </th>
                    <th class="text-center">
                        @localizer.Get("Entry Date")
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="text-center fontRows">
                        <td class="text-center">
                            @Html.DisplayFor(m => item.FileName)
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(m => item.Path)
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(m => item.EntryDate)
                        </td>                      
                    </tr>
                }
                @if (!Model.Any())
                {
                    <tr>
                        <td colspan="3">@localizer.Get("NoRecordsFound")</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>



